<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Client</title>
  </head>
  <body>
    <h1>Add a New Client</h1>
    <form class="form-group" action="/client/new/success" method="post">
      <label for="client-name">Client Name:</label>
      <input type="text" name="client-name" required>
      <label for="hair-color">Hair Color:</label>
      <input type="text" name="hair-color" required>
      <select name="stylist-id">
        @foreach(var individualStylist in Model)
        {
          <option value='@individualStylist.GetId()'>@individualStylist.GetName()</option>
        }
      </select>
      <button type="submit" name="button">Add Client</button>
    </form>
  </body>
</html>
